@import '../../styles/breakpoints';

:host {
  .city-search {
    display: flex;
    width: 100%;
    gap: 24px;

    &__input {
      flex-grow: 1;
    }
  }

  .city-template {
    display: flex;

    &__name {
      font-weight: bold;
    }

    &__description {
      display: flex;
      font-style: italic;
    }
  }

  @include mobile {
    .city-search {
      gap: 4px;

      .text {
        display: none;
      }
    }

    .city-template {
      &__description__other {
        display: none;
      }
    };
  }
}

.no-results {
  margin-top: 24px;
}
