<div class="city-search">
  <tui-combo-box class="b-form city-search__input"
                 [formControl]="selectedCity"
                 [valueContent]="content"
                 [stringify]="stringify"
                 (searchChange)="onSearchChange($event)">
    Find a city
    <input placeholder="Type a city name" tuiTextfield (input)="onSearchChange(extractValueFromEvent($event))"/>
    <tui-data-list-wrapper *tuiDataList [itemContent]="content" [items]="items$ | async"></tui-data-list-wrapper>
  </tui-combo-box>

  <button
    iconLeft="tuiIconSearch"
    tuiButton
    type="submit"
    [disabled]="!(search$ | async) && !selectedCity"
    (click)="setSelectedCity()"
  ><span class="text">Search</span></button>
</div>

<tui-notification *ngIf="noResults | async" class="no-results">
  There is no results for: {{ search$ | async }}
</tui-notification>

<ng-template #content let-data>
  <div class="city-template" style="display: flex;">
    <strong class="city-template__name">{{ data.name }}</strong>
    <i class="city-template__description">
      {{ getAdministrationInfo(data) }}
    </i>
  </div>
</ng-template>
