<div *ngIf="weather$ | async; let weather" class="current">
  <strong> {{ weather.current.time | date: 'fullDate' }} </strong>| <span *ngIf="weather.current.is_day">Day</span> <span *ngIf="!weather.current.is_day">Night</span>

  <div class="current__basic">
    <div class="current__basic__temperature">
      <div class="current__basic__temperature__main">{{ weather.current.temperature_2m }}{{ weather.current_units.temperature_2m }}</div>
      <div class="current__basic__temperature__side">
        <div>Apparent:</div>
        <div>{{ weather.current.apparent_temperature }}{{ weather.current_units.apparent_temperature }}</div>
      </div>
    </div>

    <div class="current__basic__icon">
      <app-weather-model [weatherCode]="weather.current.weather_code"></app-weather-model>
    </div>

    <div class="current__basic__other">
      <div class="title">Precipitation</div>
      <div class="value">{{ weather.current.precipitation }} {{ weather.current_units.precipitation }}</div>
      <br>
      <div class="title">Cloud cover</div>
      <div class="value">{{ weather.current.cloud_cover }}{{ weather.current_units.cloud_cover }}</div>
    </div>

    <div class="current__basic__other">
      <div class="title">Wind</div>
      <div class="value">{{ weather.current.wind_speed_10m }} {{ weather.current_units.wind_speed_10m }}</div>
      <br>
      <div class="title">Humidity</div>
      <div class="value">{{ weather.current.relative_humidity_2m }}{{ weather.current_units.relative_humidity_2m }}</div>
    </div>

    <div class="current__basic__other">
      <div class="title">Precipitation probability</div>
      <div class="value">{{ weather.hourly.precipitation_probability[0] }}{{ weather.hourly_units.precipitation_probability }}</div>
      <br>
      <div class="title">Atmospheric pressure</div>
      <div class="value">{{ weather.current.pressure_msl }} {{ weather.current_units.pressure_msl }}</div>
    </div>
  </div>
  <div class="current__advanced">
    <div class="current__advanced__other">
      <tui-icon icon="tuiIconSunrise"></tui-icon>
      <div class="title">Sunrise</div>
      <div class="value">{{ weather.daily.sunrise[0] | date:'hh:mm a' }}</div>
    </div>

    <div class="current__advanced__other">
      <tui-icon icon="tuiIconSunset"></tui-icon>
      <div class="title">Sunset</div>
      <div class="value">{{ weather.daily.sunset[0] | date:'hh:mm a'}}</div>
    </div>

    <div class="current__advanced__other">
      <tui-icon icon="tuiIconSun"></tui-icon>
      <div class="title">UV Index</div>
      <div class="value">{{ weather.hourly.uv_index[0] }} of 11</div>
    </div>
  </div>
</div>
