:host {
  .current {
    &__basic {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: #efefef solid 1px;

      &__temperature {
        &__main {
          font-size: 64px;
          font-weight: bold;
          line-height: normal;
        }

        &__side {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &__other {
        .value {
          font-weight: bold;
        }
      }
    }

    &__advanced {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-bottom: #efefef solid 1px;

      &__other {
        display: flex;
        flex-direction: column;
        align-items: center;

        .value {
          font-weight: bold;
        }
      }
    }
  }
}
