@import '../../styles/breakpoints';

:host {
  display: block;
  height: 50%;
  padding: 24px;

  .browse-page {
    height: 100%;
    transition: all 0.3s;

    &__cities {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__other {
        display: flex;
        gap: 16px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;

        &__tile {
          width: 450px;
        }
      }
    }

    &.unselected {
      display: flex;
      margin: 10% 20%;

      .browse-page__city-search {
        flex-grow: 1;
      }
    }
  }

  .divider {
    border-bottom: #b8b955 1px solid;
    margin-top: 24px;

    &.bottom {
      margin-bottom: 24px;
    }
  }

  @include mobile {
    padding: 0;

    .browse-page {
      &.unselected {
        margin: 30% 0;
      }

      &__cities {
        padding-bottom: 16px;
      }
    }

  }
}
