<div *ngIf="city$ | async; let city"
     tuiCardLarge
     tuiSurface="elevated">
  <header tuiHeader>
    <h1 tuiTitle>
      {{ city.name }}
      <span tuiSubtitle>{{ city.country }}</span>
    </h1>
  </header>

  <div class="weather" *ngIf="weather$ | async; let weather">
    Dane jakies
    {{ weather.current.temperature_2m }}
  </div>

  <footer>
    <button
      appearance="secondary"
      size="m"
      tuiButton
      type="button"
    >
      Add to favourites
    </button>
  </footer>
</div>
