<div *ngIf="city"
     class="city-tile"
     tuiCardLarge
     tuiSurface="elevated">
  <header tuiHeader class="city-tile__header">
    <h1 tuiTitle>
      <div class="city-tile__header__title">
        <span class="city-tile__header__title__link" (click)="goToWeatherDetails(city)">{{ city.name }}</span>
        <tui-svg [class.favourite]="favourites.has(city.id)" (click)="toggleFavourites(city)" src="tuiIconStar"></tui-svg>
      </div>
      <span tuiSubtitle>
        <i class="city-tile__header__description">{{ getAdministrationInfo(city) }}</i>
      </span>
    </h1>
  </header>

  <div *ngIf="weather">
    <h2>Temperature: {{ weather.current.temperature_2m }}{{ weather.current_units.temperature_2m }}</h2>

    <h2>Wind speed: {{ weather.current.wind_speed_10m }} {{ weather.current_units.wind_speed_10m }}</h2>
  </div>

  <footer class="city-tile__footer">
    <a
      iconLeft="tuiIconUmbrella"
      [routerLink]="getRouterLink(city)"
      routerLinkActive="active"
      tuiButton
    >Weather details</a>
    <button
      class="add-favourite"
      iconLeft="tuiIconStar"
      tuiAppearance="flat"
      tuiButton
      [disabled]="favourites.has(city.id)"
      (click)="toggleFavourites(city)"
    >Add to favourites</button>
  </footer>
</div>
