@import '../../styles/breakpoints';

:host {
  display: block;
  max-width: 600px;
  min-width: 440px;

  .city-tile {
    &__header {
      &__title {
        display: flex;

        &__link {
          cursor: pointer;
        }

        tui-svg {
          color: lightgray;

          &.favourite {
            color: gold;
          }
        }
      }
    }
    &__footer {
      display: flex;
      gap: 8px;
    }
  }

  @include mobile {
    min-width: 300px;
    width: 100%;

    .city-tile {
      &__footer {
        .add-favourite {
          display: none;
        }
      }
    }

  }
}
