<div class="settings-page"
     tuiCardLarge
     tuiSurface="elevated">
  <header tuiHeader class="weather-page__header">
    <h1 tuiTitle>
      <div class="settings-page__header__title">
        <h1>Settings</h1>
      </div>
      <span tuiSubtitle>
        <i class="settings-page__header__description">Switch between preferred units for temperature, wind speed, and precipitation</i>
      </span>
    </h1>
  </header>

  <div class="settings-page__content" *ngIf="settingsGroup">

    <form [formGroup]="settingsGroup">
      <tui-select formControlName="temperature" [valueContent]="settingContent">
        Temperature unit
        <tui-data-list-wrapper
          *tuiDataList
          [items]="temperatures"
          [itemContent]="settingContent"
        ></tui-data-list-wrapper>
      </tui-select>
      <tui-select formControlName="speed" [valueContent]="settingContent">
        Wind speed unit
        <tui-data-list-wrapper
          *tuiDataList
          [items]="speeds"
          [itemContent]="settingContent"
        ></tui-data-list-wrapper>
      </tui-select>
      <tui-select formControlName="precipitation" [valueContent]="settingContent">
        Precipitation unit
        <tui-data-list-wrapper
          *tuiDataList
          [items]="precipitations"
          [itemContent]="settingContent"
        ></tui-data-list-wrapper>
      </tui-select>
    </form>

    <footer class="settings-page__footer">
      <button
        iconLeft="tuiIconSave"
        tuiButton
        (click)="setUnits()"
      >Save changes</button>
    </footer>

  </div>
</div>

<ng-template #settingContent let-item>
  {{ item | settings }}
</ng-template>
