@import '../../styles/breakpoints';

:host {
  display: flex;
  justify-content: center;
  padding: 20px;

  .settings-page {
    width: 800px;

    &__content {
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    &__footer {
      margin-top: 12px;
    }
  }

  @include mobile {
    padding: 0;

    .settings-page {
      width: 100%;
    }
  }
}
