<div class="navigation">
  <header tuiNavigationHeader class="navigation__header">

    <div>
      <button
        iconLeft="tuiIconMenu"
        [appearance]="expanded ? 'secondary' : ''"
        (click)="expanded = !expanded"
        [class.active]="expanded"
        tuiAppearance="flat"
        tuiIconButton>
      </button>

      <a
        iconLeft="tuiIconUmbrella"
        routerLink="/home"
        routerLinkActive="active"
        tuiAppearance="flat"
        tuiButton
      >
        <strong tuiFade>WeatherApp</strong>
      </a>
      <tui-badge>v0.1</tui-badge>
    </div>

    <a
      iconLeft="tuiIconSettings"
      routerLink="/settings"
      routerLinkActive="active"
      tuiAppearance="flat"
      tuiButton
    >
      Settings
    </a>
  </header>

  <div class="flex-container">
    <aside
      class="navigation__aside"
      [tuiNavigationAside]="expanded"
    >
      <header>
        <a
          iconLeft="tuiIconHome"
          routerLink="/home"
          routerLinkActive="active"
          tuiAppearance="flat"
          tuiButton
        >
          Weather app
        </a>
      </header>

      <a
        iconLeft="tuiIconSearch"
        routerLink="/browse"
        routerLinkActive="active"
        tuiAppearance="flat"
        tuiButton
      >
        Search city
      </a>

      <a
        iconLeft="tuiIconStar"
        routerLink="/favourites"
        routerLinkActive="active"
        tuiAppearance="flat"
        tuiButton
      >
        Favourites
      </a>

      <tui-expand [expanded]="expanded">
        <a *ngFor="let favourite of favourites"
           iconLeft="tuiIconUmbrella"
           [routerLink]="getRouterLink(favourite)"
           routerLinkActive="active"
           tuiButton
        >{{ favourite.name }}, {{ favourite.country }}</a>
      </tui-expand>

      <a
        iconLeft="tuiIconGithub"
        href="https://github.com/arturmen/weather-app"
        target="_blank"
        tuiAppearance="flat"
        tuiButton
      >
        Github
      </a>

      <a
        iconLeft="tuiIconLinkedin"
        href="https://www.linkedin.com/in/artur-muron/"
        target="_blank"
        tuiAppearance="flat"
        tuiButton
      >
        About author
      </a>

      <footer>
        <a
          iconLeft="tuiIconSettings"
          routerLink="/settings"
          routerLinkActive="active"
          tuiAppearance="flat"
          tuiButton
        >
          Settings
        </a>
        <button
          tuiButton
          [iconLeft]="expanded ? 'tuiIconChevronLeft' : 'tuiIconChevronRight'"
          (click)="expanded = !expanded"
        >
          Collapse
        </button>
      </footer>
    </aside>

    <tui-app-bar class="navigation-mobile__top black">
      <a
        iconLeft="tuiIconHomeLarge"
        tuiIconButton
        routerLink="/home"
        routerLinkActive
        tuiSlot="left"
      ></a>
      WeatherApp
      <a
        iconLeft="tuiIconSearchLarge"
        tuiIconButton
        routerLink="/browse"
        routerLinkActive
        tuiSlot="right"
      ></a>
    </tui-app-bar>

    <main tuiNavigationMain>
      <ng-content></ng-content>
    </main>

    <nav tuiTabBar class="navigation-mobile__footer">
      <a
        icon="tuiIconSettingsLarge"
        routerLink="/settings"
        routerLinkActive="active"
        tuiTabBarItem
      >
        Settings
      </a>

      <a
        icon="tuiIconStarLarge"
        routerLink="/favourites"
        routerLinkActive
        tuiTabBarItem
      >
        Favourites
      </a>

      <a
        icon="tuiIconGithubLarge"
        href="https://github.com/arturmen/weather-app"
        target="_blank"
        tuiTabBarItem
      >
        Github
      </a>

      <a
        icon="tuiIconLinkedinLarge"
        href="https://www.linkedin.com/in/artur-muron/"
        target="_blank"
        tuiTabBarItem
      >
        About author
      </a>
    </nav>

  </div>
</div>
