@import '../../styles/breakpoints';

$navigation-bar-color: #0F172E;

:host {
  .navigation {
    header[tuiNavigationHeader] {
      justify-content: space-between;
      background-color: $navigation-bar-color;
    }

    aside {
      height: calc(100dvh - 48px);
      background-color: $navigation-bar-color;
    }

    main {
      background: #FAF7DB;

      &:before {
        box-shadow:  0 -1.25rem $navigation-bar-color;
      }
    }
  }

  .navigation-mobile {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    &__top {
      &.black {
        color: var(--tui-base-01);
        background: $navigation-bar-color;

        a {
          color: whitesmoke;
        }
      }
    }
  }

  .flex-container {
    display: flex;
  }

  @include mobile {
    .navigation__header {
      display: none;
    }

    .navigation__aside {
      display: none;
    }

    main {
      flex-grow: 1;
      max-height: 100%;
      overflow: auto;
      background: #FAF7DB;
      padding: 16px;

      &:before {
        display: none;
      }
    }

    .flex-container {
      height: 100dvh;
      flex-direction: column;
    }
  }

  @include desktop {
    .navigation__header {
      display: flex;
    }

    .navigation__aside {
      display: flex;
    }

    .navigation-mobile__top {
      display: none;
    }

    .navigation-mobile__footer {
      display: none;
    }
  }
}
