@import '../../../styles/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  tui-icon {
    width: 4em;
    height: 4em;
  }

  &.small {
    display: flex;
    flex-direction: row;
    gap: 8px;

    tui-icon {
      width: 1em;
      height: 1em;
    }
  }

  @include mobile {
    &.small {
      .text {
        display: none;
      }
    }
  }
}
